# airflow/requirements.txt
# This is a corrected set of versions known to be compatible.
apache-airflow-providers-cncf-kubernetes==8.1.0
dbt-snowflake==1.4.1
great-expectations==0.18.9
sqlalchemy<2.0.0